@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

:root {
  --orange: #ff8c00;
  --backgroundGray: #eeeeee;
  --lightGray: #dddddd;
  --mainFont: 'Karla', sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundGray);
  font-family: var(--mainFont);
}

a {
  text-decoration: none;
  color: black;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#title {
  margin: 15px 0;
}

#header-img {
  width: 50px;
  padding-left: 40px;
  margin-right: 10px;
}

#nav-bar {
  width: 70%;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 50px;
}

.nav-link:hover {
  color: red;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#features {
  width: 80%;
  margin: auto;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  width: 40vh;
  height: 4vh;
  border: none;
  border-radius: 5px;
}

#submit {
  background-color: var(--lightGray);
  font-family: var(--mainFont);
  font-size: 1.3rem;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px 0;
}

#submit:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.4s;
}

/* ~ features */
#features {
  margin: 50px auto 120px;
}

.grid-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.icon-features {
  display: flex;
  justify-content: center;
  width: 10%;
}

.text-features h2 {
  margin-block-end: 0;
}

.text-features p {
  margin-block-start: 0;
}

.fa-fire,
.fa-truck,
.fa-battery-full {
  width: 60px;
  color: var(--orange);
}

.text-features {
  width: 90%;
}

#video {
  display: flex;
  margin: auto;
  width: 70%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px auto;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 4);
  border: 1px solid black;
  border-radius: 6px;
}

.card-title {
  background-color: var(--lightGray);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
}

.card-price {
  background-color: var(--orange);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.card-text p {
  line-height: 30px;
  font-size: 1.1rem;
}

.card-text button {
  background-color: var(--lightGray);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px 0;
}

.card-text button:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.4s;
}

/* ~ footer  */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightGray);
}

#footer-img {
  width: 50px;
  margin: 0 10px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-text p {
  margin-block-start: 0.5em;
}

/* ~ media queries */
@media screen and (max-width: 768px) {
  .navigation-bar {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
  }

  #nav-bar {
    justify-content: center;
  }

  .nav-link {
    margin: 0 10px;
  }

  #title {
    line-height: 20px;
  }

  #title a {
    font-size: 1.4rem;
  }

  #header-img {
    padding-left: 0;
    width: 40px;
  }

  #headline {
    font-size: 1.3rem;
    text-align: center;
  }

  #submit {
    font-size: 1rem;
  }

  .grid-features {
    flex-direction: column;
    gap: 0;
    margin-bottom: 50px;
  }

  .cards-container {
    width: 100%;
  }

  .card {
    width: calc(100% / 1.5);
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    align-items: center;
  }
}